/*
CSE 190 M, Spring 2009, Marty Stepp
Homework 4: NerdLuv
Stylesheet for HTML forms / basic PHP program
You should modify this stylesheet as necessary to reproduce the expected page.
*/

/* provided styles */

* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}

body {
	background-color: white;
	padding: 1em;
}

fieldset
{
	background-color: #E0E0FF;
	border: 2px outset gray;
}

legend
{
	background-color: white;
	border-style: outset;
	border-width: 2px;
	border-color: gray;
	padding: 0.2em;
}

label
{
	font-weight: bold;
	display: inline-block;
	width: 11em;
}

input.text
{
	border: 2px inset gray;
}

input.Submit
{
	background-color: #FFAAAA;
	font-weight: bold;
	font-size: 120%;
}
#bannerarea {
	margin-bottom: 2em;
}

div {
	margin-top: 0.5em;
}

.info {
	padding-left: 160px;
}

#main {
	overflow: hidden;
	width: 32em;
}

.match {
	margin-bottom: 3em;
}

.name {
	background-color: #E0E0FF;
	clear: left;
	width: 32em;
}

.name img {
	width: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
}

#w3c {
	clear: both;
}

#w3c img {
	border-width: 0px;
}


/* your additional styles go here */
